.form .chosen-container {
    font-size: 1rem;
}

.container1 {
    max-width: 400px;
   background-color:white ;
   padding: 20px;
   width: 50%;
   margin: 0 auto;
   border-style: solid;
     border-width: 2px;
    border-color:#D6DBDF  ;
}
.opbut{
  width: 120px;
  margin-left: 70px;
  background-color:#45BCCF;
  border-style: solid;
  border-width: 0.5px;

  }
.container2 {
  max-width: 970px;
   background-color:white ;
   padding: 20px;
   margin: 0 auto;
   border-style: solid;
     border-width: 2px;
    border-color:#D6DBDF  ;
}
.form-group{
  margin-left: 10px;
  margin-right: 80px;}

.container3 {
   background-color:white  ;
   padding: 20px;
   margin: 0 auto;
   border-style: solid;
     border-width: 2px;
    border-color:#D6DBDF  ;
}
::-webkit-file-upload-button {
  background: #45BCCF;
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  color:white;
  padding: 0.75em;
}
.pro_pic{
  background-color:white
  width: 800px;
   height: 350px;
   border: 1px solid #D6DBDF;
   margin-left: 10px;
   margin-right: 80px;
}
.form-box{
  width: 820px;
   height: 150px;
   border: 1px solid #D6DBDF;
   margin-left: 30px;
   margin-right: 50px;

}
.form-box1{
  width: 820px;
   height: 100px;
   border: 1px solid #D6DBDF;
   margin-left: 30px;

}
.form-control1 {
 width: 200px;
margin-left: 20px;
}

.form-control {
 width: 95%;
margin-left: 20px;
}

.x
{margin-left: 30px;}
.xy
{margin-top: 15px;}

.px
{margin-left: 100px;}

.ch
{margin-left: 30px;}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #45BCCF;
}

body {
    background-color:#f2f2f2;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

.container {
  width: 50%;
  margin: 0 auto;
}

label {
    display:block;
    margin-bottom:10px;
}

input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    background-color:#45BCCF
}

.btn-primary{
background-color:#45BCCF
}

#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}
#loader {
    width: 100px;
    display:none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
